@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;400;600&family=Montserrat&display=swap');


/*Section backgrounds and colors*/
.blue-background {
    background-color: #0c296b;
    color: white;
}

.white-background {
    background-color: white;
    color: #0c296b;
}

/* -- Google Fonts -- */

body h1, h2, h3, h4, h5, h6, button {
    font-family: 'Blinker', sans-serif;
}

body p {
    font-family: 'Montserrat', sans-serif;
}

/* -- /END of Google Fonts -- */

/* -- Site-wide Rules -- */

/* -- 'MyMenu' Bootstrap Modal (see button in Navbar) - Index.html - 
        NOTE: The item class names and rules were copied and edited from a shopping cart plugin created 
        by 'WebDevSimplified'. You can find the plugin code on GitHub here;
        https://github.com/WebDevSimplified/Introduction-to-Web-Development/blob/master/Introduction%20to%20JavaScript/Lesson%201/store.js
        There is also a video which goes through the development of the plugin code. See here;
        https://www.youtube.com/watch?v=YeFzkC2awTM -- */

.close {
    color: #ffffff; 
    opacity: 1;
    font-size: 28px;
}

.close:hover {
    color: #ffd500; 
    transform: (1.3);
}

.close i:hover {
    background-color: #ffd500;
    color: #ffd500; 
    opacity: 1;
    transform: (1.3);
}

.modal-header {
    background-color: #00296b;
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 5px;
}

.modal-header img {
   padding: 0px;
}

.modal-title {
    padding-top: 0px;
    padding-bottom: 20px;
}

.modal-title hr {
    height: 2px;
    background-color: #ffd500;
    margin-bottom: 5px;;
}

.modal-footer {
    display: inline;
    background-color: #00296b;
    color: #ffffff;
}

.modal-body {
    padding: 0;
    background-color: #ffffff;
    color: #00296b;
}

.modal-body p {
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 25px;
}

.modal-content {
    border-radius: 18px;
}

.modal-body hr {
    height: 3px;
    background-color: #ffd500;
}

.quote-intro h2 {
    padding-top: 0px;
    padding-bottom: 20px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #00296b;
    justify-content: center;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffd500;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    background-color: #ffffff;
    color: #ffffff;
}

.cart-items {
    background-color: #ffd500;
    color: #00296b;
}

.cart-item {
    width: 50%;
}

.cart-price {
    width: 15%;
    font-size: 1.2em;
    color: #00296b;
}

.cart-price.cart-header {
    color: #00296b;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: #00296b;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
    padding-left: 5px
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #00296b;
    transform: (1.2);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #00296b;
    background-color: #ffffff;
    color: #00296b;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 2px solid #ffd500;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ffffff;
    color: #ffffff;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #00296b;
    margin-left: 20px;
}

.cart-total-price {
    color: #00296b;
    font-size: 1.6em;
    padding-left: 10px;
}

.btn-purchase {
    display: inline;
    margin: 20px 20px 20px 20px;
    font-size: 1.75em;
    color: #00296b;
    background-color: #ffd500;
    width: 55%;
}

.btn-purchase:hover { 
    transform: scale(1.2);
    background-color: #00296b;
    color: #ffffff;
    border: 2px solid #ffd500;
}

.modal-footer {
    background-color: #ffffff;
}

/* -- /END of 'MyMenu' Bootstrap Modal (see button in Navbar) -- */

/* -- Bootstrap Navbar -- */

.navbar {
    margin-bottom: 0;
    border-bottom: 3px solid;
    border-color: #ffd500; 
    width: 100%;
    background-color: #ffffff;
}

.navbar-brand img {
    height: auto;
    width: 100%;
}

.navbar-nav {
    padding-left: 40px;
}

.navbar button {
    color: #ffffff;
    background-color: #00296b;
    padding-right: 0;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: 20px;
}

.navbar button:hover {
    color: #ffffff;
    background-color: #00296b;
    border: 2px solid #ffd500;
    transform: (1.2);
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #00296b;
    border: 2px solid #ffd500;
    border-radius: 10%;
}

.nav-pills li {
    margin-right: 7px;
}

.nav-link h6 {
    margin: 0;
}

.nav-link h5 {
    margin: 0;
}

.nav-pills .nav-link.inactive {
    color: #fff;
    background-color: #00296b;
    border-radius: 10%;
    margin-top: 2px;
}

.nav-pills .nav-link.inactive:hover {
    color: #00296b;
    background-color: #ffffff;
    border-radius: 10%;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.mymenu-indicator {
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #EB5757;
    padding: 7px; 
    border-radius: 50%;
    position: relative;
    top: -19px;
    right: -7px;
}

.navbar-toggler-icon {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #00296b;
} 

button.navbar-toggler {
    background-color: #00296b;
    border: 2px solid #ffffff;
} 

.navbar-dark .navbar-toggler {
    border: 2px solid #ffd500;
    margin: 0px;
    padding-right: 0px;
}

.nav-link.active {
    justify-content: end;
}

button.nav-link.mymenu {
    font-family: 'Blinker', sans-serif;
    font-size: 20px;
    padding-right: 0px;
    padding-left: 10px;
}

.button.nav-link.mymenu:hover {
    transform: (1.2);
}

/* -- /END of Bootstrap Navbar -- */

/* -- Bootstrap Jumbotron - Index.html & Contact.html -- */

.custom-jumbotron {
    background-color: rgba(0, 80, 157,.0);
    width: 80%;
    height: 85%;
    position: relative;
    left: 0px;
    top: 40%;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #ffffff;
    border-radius: 10px;
/*    border: 2px solid #ffd500;*/
}

.jumbotron-container {
    height: 450px;
    padding: 70px;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.jumbotron-container-home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../css/images/jumbotron/kelsey-chance-ZrhtQyGFG6s-unsplash-1000px.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px;
}

.jumbotron-container-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../css/images/jumbotron/matt-hoffman-7zwyUZVrt-U-unsplash-1000px.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px;
}

.jumbotron-col {
    padding: 0;
}

.jumbotron hr {
    height: 2px;
    width: 80%;
    background-color: #ffd500;
}

/*
.jumbotron .btn {
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    background-color: #00296b;
    border: 2px solid #ffd500;
}
*/

.jumbotron .btn h5 {
    margin: 0;
}

.jumbotron .btn:hover {
    background-color: #ffd500;
    border: 2px solid #fff;
    color: #00296b;
    transform: scale(1.2);
    transition: all 1s;
}

/* -- /END of Bootstrap Jumbotron - Index.html & Contact.html -- */

/* -- Introduction & Features Section -- */

.home-intro-section {
    padding-top: 35px;
}

.home-intro-section i {
    font-size: 55px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: #ffd500;
}

.home-intro-section div p {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.home-intro-section div h3 {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    margin: 0;
}

.home-intro-section hr {
    height: 2px;
    width: 100%;
    background-color: #ffd500;
    margin-bottom: 35px;
}

.features-section div h2 {
    margin-bottom: 35px;
}

.features-section h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.features-section div img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.features-section i {
    font-size: 55px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: #ffd500;
}

.features-section img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.features-section row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.feature-text {
    align-items: center;
    vertical-align: middle;
}

/* -- /END of Introduction & Features section -- */

/* -- Menu's introduction & Menu Accordions section. - Index.html - 
        NOTE: The card structure, item class names, and 'Add to MyMenu' button code 
        was copied from a shopping cart plugin created by 'WebDevSimplified'. You can 
        find the plugin code on GitHub here;
        https://github.com/WebDevSimplified/Introduction-to-Web-Development/blob/master/Introduction%20to%20JavaScript/Lesson%201/store.js
        There is also a video which goes through the development of the plugin code. See here;
        https://www.youtube.com/watch?v=YeFzkC2awTM 
        This code also includes Tooltip code which was copied from W3Schools
        https://www.w3schools.com/css/css_tooltip.asp -- */

.menus-container {
    padding-bottom: 45px;
}

.menus-intro hr {
    height: 2px;
    width: 80%;
    background-color: #ffd500;
    margin-bottom: 35px;
}
    
        
.menus-intro i {
    font-size: 55px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: #ffd500; 
}

.menu-header img {
    padding-top: 15px;
    padding-bottom: 5px;
    max-height: 72px;
    max-width: 110px;
}

.menu-header h2 {
    padding-bottom: 15px;
    padding-top: 10px;;
} 

.accordion hr {
    height: 2px;
    width: 30%;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.accordion-width {
   width: 90%;
}

.accordion-button-row {
    background-color: #00296b;
}

.card   {
    border: none;
    background-color: #ffd500;
}

.card-body {
    padding: 0;
}

.card-header {
    background-color: #00296b;
    align-items: center;
}

.card-header button:hover {
    background-color: #00296b;
    color: #ffffff;
    transform: scale(1.15);
    transition: all 400ms;
    border: 2px solid #ffd500;
    font-size: 28px;
}

.card-header .btn {
    color: #00296b;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #ffd500;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
}

.card-header .btn:focus {
    box-shadow: 0 0 0 0.1rem rgb(255, 213, 0);
}

.accordionScroll {
    max-height: 720px;
    overflow-y: auto;
    background-color: #ffffff;
    color: #00296b;
    border: 2px solid #ffd500;
    border-radius: 10px;
}

.card-size {
    height: 720px;
    width: auto;
    border-radius: 10px;
}

.items-container {
    padding: 0;
}

.shop-item-container {
    background-color: #00296b;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.shop-item {
    margin-right: 20px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 30px;
}

.shop-item-image {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 10px;
}

.shop-item-details {
    display: inline;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color:#ffffff;
    padding-bottom: 10px;
    font-size: 30px;
}

.shop-item-button {
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item-details .btn {
    color: #00296b;
    background-color: #ffd500;
    margin-bottom: 20px;
}

.shop-item-details p {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 18px;
    color: #ffffff;
}

/* -- /END of Menu's introduction & Menu Accordions section -- */

/* -- Photo Gallery section - Index.html
        NOTE: Some code copied and edited from Bootstrap documentation
        for Modal Carousel. -- */

.gallery-placeholder img {
    height: auto;
    width: 100%;
    max-width: 650px;
    margin-bottom: 45px;
    border-radius: 10px;
    cursor: zoom-in;
} 

.gallery-placeholder img:hover {
    transform: scale(1.1);
    transition: all 1.1s;
}

.gallery-img hr {
    height: 2px;
    background-color: #ffd500;
    margin-bottom: 35px;
}

.gallery-container {
    background-color: #ffffff;
    color: #00296b;
}

.gallery-img-container {
    background-color: #ffffff;
}

.gallery-container i {
    font-size: 55px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    color: #ffd500;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    bottom: 70px;
    height: 60px;
    width: 60px;
    background-color: #010d20;
    border-radius: 50%;
    border: 2px solid #ffd500;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';  
    font-size: 35px;
    font-style: normal;
    color: #ffd500;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  font-style: normal;
  color: #ffd500;
}

/* -- /END of Photo Gallery section -- */

/* -- Testimonial Section - Index.html -- */

.testimonial-container {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../css/images/testimonials/testimonial-section-alasdair-elmes-ULHxWq8reao-unsplash-1200px.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 55px;
    align-items: center;
}

.testimonial-box {
    background-color: rgb(0, 80, 157,.20);
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 20px;
}

.testimonial-box h3 {
    padding-top: 20px;
    padding-bottom: 25px;
}

.testimonial-box i {
    font-size: 55px;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffd500;
}

.testimonial-container hr {
    height: 2px;
    width: 80%;
    background-color: #ffd500;
}

.testimonial-title h2 {
    margin: 0px;
}

.testimonial-title i {
    font-size: 55px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    color: #ffd500;
}

/* -- /END of Testimonial section -- */

/* -- Footer - index.html & contact.html -- */

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-home {
    background-color: #ffffff;
    color: #00296b
}

.footer i {
    font-size: 20px;
    padding: 5px;
    color: #00296b; 
}

.footer-button {
    padding: 10px;
    font-family: 'Blinker', sans-serif;
}

.footer-button .btn {
    background-color: #00296b;
    color: #ffffff;
    border: 2px solid #ffd500;
    font-family: 'Blinker', sans-serif;
    margin-left: 5px;
    margin-top: 10px;
    padding: 8px;
}

.footer-button ul {
    padding-left: 5px;
}

.footer-button h6 {
    margin-bottom: 0;
}

.footer-button .btn:hover {
    background-color: #ffd500;
    color: #00296b;
    border: 2px solid #ffffff;
    transform: scale(1.1);
}

.address-box {
    justify-content: right;
    text-align: right;
}

.address-box a {
    color: #00296b;
}

.home-link {
    justify-content: right;
    text-align: right;
}

.footer-mobile-only-home-link .btn {
    padding: 8px;
    font-family: 'Blinker', sans-serif;
    border: 2px solid #ffd500;
    color: #ffffff;
    background-color: #00296b;
}

.footer-mobile-only-home-link h6 {
    margin: 0;
}

.footer-mobile-only-home-link {
    margin-bottom: 20px;
}

.footer-mobile-only-home-link .btn:hover {
    background-color: #ffd500;
    color: #00296b;
    border: 2px solid #ffffff;
    transform: scale(1.1);
}

.social-media-box i {
    font-size: 50px;
    padding: 5px;
    color: #00296b; 
}

.social-media-box i:hover {
    border: 2px solid #ffffff;
    border-radius: 20%;
    transform: scale(1.1);
    transition: all 300ms;
}

.copyright i {
    font-size: 20px;
}

/* -- /END of Footer -- */

/* -- Introduction Section - contact.html -- */

.contact-intro hr {
    width: 80%;
}

/* -- Introduction Section - contact.html -- */

/* -- Google Map - contact.html -- */

.section-container {
    background-color: #00296b;
    color: #ffffff;   
}

.map-heading i {
    font-size: 55px;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: #ffd500;
}

.map-heading p {
    padding: 16px;
}

.mapdiv {
    min-height: 650px;
    width: 100%;
    border: 5px;
    border-color: #ffd500;
    background-color: #00296b;
}

.infoimage {
    text-align: center;
}

.infoWindowList {
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0px;
    font-size: 16px;
}

.infoHeading {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: #00296b;
    background-color: #ffd500;
    border-radius: 10px;
}

.infoHeading h3 {
    margin-bottom: 0;
}

.infoContainer {
    color: #ffffff;
    background-color: #00296b;
    padding: 10px;
}

.telField {
    font-size: 19px;
    padding: 3px;
}

/* -- /END of Google Map -- */

/* -- Social Media Block -- */

.social-container {
    padding-top: 10px;
}

.social-container hr {
    width: 80%;
}

.social-section {
    background-color: #00296b;
}

.social-media-block {
    background-color: #ffd500;
    color: #00296b;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.social-media-block div {
    padding: 0;
    margin-bottom: 15px;
}

.social-media-block img {
    padding-top: 10px;
}

.social-media-block img:hover {
    transform: scale(1.3);
    transition: all 1s;
}

/* -- /END of Social Media Block -- */

/* -- Contact Form -- */

.contact-form-box {
    padding-top: 10px;
}

.contact-form-box hr {
    width: 80%;
}

.contact-form-box i {
    font-size: 55px;
    margin-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffd500;
}

.contact-form-container {
    background-color: #00296b;
}

.form-div {
    color: #00296b;
    border: 3px solid #ffd500;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.form-group .btn {
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    background-color: #00296b;
    border: 2px solid #ffd500;
    width: 40%;
    margin-bottom: 25px;
}

.form-group .btn h5 {
    margin: 0;
}

.form-group .btn:hover {
    background-color: #ffd500;
    border: 2px solid #fff;
    color: #00296b;
    transform: scale(1.2);
    transition: all 400ms;
}

.form-control {
    width: 100%;
}

/* -- /END of Contact Form -- */

/* -- Media Queries: -- */

/* -- 1. Media Query for MyMenu Modal - Removes item image 
        from the list row on small devices -- */


@media screen and (max-width: 600px) {
    .cart-item-image {
        display: none;
    }
}

/* -- /END of Media Query 1 -- */

/* -- 2. Media Query for MyMenu Modal - Removes padding 
        for open modal and MyMenu quantity input on small devices. Alos
        reduces padding for 'p' aand form elements -- */

@media screen and (max-width: 600px) {
    .modal-open {
        padding-right: 2px;
    }
}

@media screen and (max-width: 420px) {
    .cart-quantity-input {
        margin-right: 2px;
    }

    .cart-price {
        margin-right: 4px;
    }

    .cart-item-title {
        margin-left: 2px;
        margin-right: 2px;
    }

    .content-section {
        padding-right: 1px;
        padding-left: 1px;
    }
}

@media screen and (max-width: 322px) {

    .cart-item.cart-column {
        margin-right: 2px;
    }
}

@media screen and (max-width: 1050px) {
    
    .modal-body p {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 540px) {
    
    .modal-body p {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 320px) {
    
    .modal-body p {
        padding-right: 4px;
        padding-left: 4px;
    }
}

@media screen and (max-width: 430px) {

    .form-div {
        padding-right: 8px;
        padding-left: 8px;
    }
}

/* -- /END of Media Query 2 -- */

/* -- 3. Media Query for Navbar Collapse Dropdown items - Move items to right side
        of menu dropdown and style nav-item li's.-- */

@media screen and (max-width: 575px) {

    .nav-item {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .navbar-nav .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* -- /END of Media Query 3 -- */

/* -- 4. Media Query for Jumbotron - Resize text elements and Jumbotron at different screen sizes. -- */

@media screen and (max-width: 1250px) {

    .custom-jumbotron {
        padding-top: 5px;
    }
}

@media screen and (max-width: 1222px) {

    .custom-jumbotron {
        padding-top: 15px;
        width: auto;
    }

    .jumbotron .display-2 {
        font-size: 60px;
    }

    .jumbotron h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 710px) {

    .jumbotron-container {
        padding: 35px;
    }

    .custom-jumbotron {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .jumbotron h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {

    .jumbotron-container {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
        height: 500px;
    }

    .custom-jumbotron {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .jumbotron .display-2 {
        font-size: 55px;    }
}

@media screen and (max-width: 440px) {

    .jumbotron-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        height: 500px;
    }

    .custom-jumbotron {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .jumbotron .display-2 {
        font-size: 50px;    }
}

@media screen and (max-width: 320px) {

    .jumbotron-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        height: 500px;
    }

    .custom-jumbotron {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .jumbotron .display-2 {
        font-size: 40px;    }
}

@media screen and (max-width: 260px) {

    .jumbotron-container {
        padding-top: 35px;
        height: 550px;
    }
}

/* -- /END of Media Query 3 -- */

/* -- 4. Media Query for Introduction & Features section on index.html -- */

@media screen and (max-width: 800px) {

    .home-intro-section {
        padding-right: 0;
        padding-left: 0;
    }

    .home-intro-section div p {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 630px) {

    .home-intro-section p {
        padding-left: 0px;
        padding-right: 0px;
       
    }
}

@media screen and (max-width: 991px) {

    .features-section div p {
        padding-left: 85px;
        padding-right: 85px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }

    .features-section div i {
        padding-bottom: 0;
    }

    .features-section div h3 {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 0;
    }

    .features-section div img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {

    .features-section div p {
        padding-left: 65px;
        padding-right: 65px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {

    .features-section div p {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 490px) {

    .features-section div p {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }
}

/* -- /END of Media Query 4 -- */

/* -- 5. Media Query for Menu's Accordion section on index.html -- */

@media screen and (max-width: 480px) {
    .menu-header {
        padding-right: 0;
        padding-left: 0; 
    }

    .shop-item-container {
        margin-right: 0;
        margin-left: 0;
    }

    .shop-item-details p {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
}

/* -- 4. Media Query for Introduction & Features section on index.html -- */

@media screen and (max-width: 991px) {
    .footer-navigation-list {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .address-box {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .social-media-box {
        justify-content: center;
        align-items: center;
    }
}

/* -- /END of Media Query 4 -- */