
/*----------- Navbar placeholder ----------- */

.navbar {
    margin-bottom: 0;
    border-bottom: 3px solid;
    border-color: #2e294e; 
    width: 100%;
    background-color: #00296b;
}


.navbar a {
    color: #2e294e;
}

.navbar button {
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.nav li a {
    color: #2e294e;
    font-size: 18px;
} 

.nav li a:hover {
    background-color: #d7263d;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #EAE2B7;
}

.dropdown-menu {
    background-color: #fcbf49;
}

.dropdown-item {
    color: #EAE2B7;
    font-weight: 100;
    font-size: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #EAE2B7;
}

.nav li a i {
    font-size: 28px;
    color: #f77f00;
}

.navbar-toggler-icon {
    background-color: #d62828;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto #fcbf49;
}

.mymenu-indicator {
    font-size: 10px;
    color: black;
    background-color: #ffffff;
    padding: 7px; 
    border-radius: 50%;
    position: relative;
    top: -18px;
    right: -15px;
}

/*----------- END of Navbar ----------- */

/*-----------JUMBOTRON placeholder ----------- */

.jumbotron {
    background-color: rgba(214, 40, 40,.55);
    width: 70%;
    height: 80%;
    position: relative;
    left: 0px;
    top: 50%;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #ffffff;
}

.jumbotron-container {
    height: 550px;
    padding: 70px;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.jumbotron-container-home {
    background: url('../css/images/jumbotron/pexels-askar-abayev-5638748-1000px.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-container-contact {
    background: url('../css/images/jumbotron/pexels-askar-abayev-5638748-1000px.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 70px;
    border-bottom: 3px solid;
    border-color: #2e294e;
}

.jumbotron-col {
    padding: 0;
}

.jumbotron hr {
    height: 2px;
    width: 60%;
    background-color: #EAE2B7;
}

.jumbotron .btn {
    font-size: 20px;
    color: #EAE2B7;
    z-index: 1;
    background-color: #d62828;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
}

.jumbotron .btn:hover {
    background-color: #2e294e;
    box-shadow: 0 0 0 0.2rem rgba(247, 127, 0,.65);
    color: #eae2b7;
}


/* ---------- Accordion test ------------ */

.accordionScroll {
    max-height: 520px;
    overflow-y: auto;
}

.card-size {
    height: 520px;
    width: auto;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    border-radius: 5px;
}

.shop-item-details {
    display: inline;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---------- Map test ------------ */

.mapdiv {
    min-height: 650px;
    width: 100%;
}

.infoimage {
    text-align: center;
}

.infoWindowList {
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 0px;
    font-size: 16px;
}

.infoHeading {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    background-color: #d62828;
}

.infoContainer {
    color: #ffffff;
    background-color: #d62828;
    padding: 10px;
}

.telField {
    font-size: 19px;
    padding: 3px;
}

/* ---------- MyMenu Modal test ------------ */

#exampleModal {
    padding-right: 0px;
}

.modal-footer {
    display: inline;
}

.modal-body {
    padding: 0;
}

 .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}